.site-title {
	text-align: center;
}

#pauseStart {
	text-align: center;
}

#feed-title {
	font-weight: bold;
	font-size: x-large;
	margin: 0 20px 0 20px;
}

.all {
	cursor: pointer;
}

.flow-control {
	padding: 10px;
	border-radius: 8px;
	color: white;
	cursor: pointer;
	margin: 0 20px 0 20px;
}

.paused {
	background-color: green;
}

.flowing {
	background-color: red;
}

#tweets {
    list-style: none;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
}

#tweets li {
    padding: 20px;
    margin-bottom: 20px;
    background-color: aliceblue;
    border: 2px solid navy;
    border-radius: 10px;
}

.user-name {
	cursor: pointer;
	font-weight: bold;
}

.messageFeed {
	display: block;
	clear: both;
	padding-top: 20px;
	font-size: x-large;
}

.dateFeed {
	display: block;
	float: right;
	text-align: right;
	font-style: italic;
}